<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpingin.homeautomation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PatternListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatternDetailActivity"
            android:label="@string/title_pattern_detail"
            android:parentActivityName=".PatternListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dpingin.homeautomation.PatternListActivity" />
        </activity>
        <activity
            android:name=".ColorPickerActivity"
            android:label="@string/title_color_picker"
            android:parentActivityName=".PatternListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dpingin.homeautomation.PatternListActivity" />
        </activity>
        <activity
            android:name=".MusicControlledActivity"
            android:label="@string/title_music_controlled"
            android:parentActivityName=".PatternListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dpingin.homeautomation.PatternListActivity" />
        </activity>
        <activity
            android:name=".FlowActivity"
            android:label="@string/title_flow"
            android:parentActivityName=".PatternListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dpingin.homeautomation.PatternListActivity" />
        </activity>

        <service
            android:name="com.dpingin.homeautomation.spice.HomeAutomationSpiceService"
            android:exported="false" />
    </application>

</manifest>