<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="rest.controller.properties"/>
    </bean>

    <bean id="rgbController" class="com.dpingin.home.automation.rgb.controller.impl.rgb.RgbControllerImpl" init-method="init" destroy-method="destroy">
        <property name="rs232Controller">
            <bean class="com.dpingin.home.automation.rgb.controller.impl.rs232.RS232ControllerImpl"/>
        </property>
        <property name="portName" value="${rgb.controller.portName}"/>
    </bean>

    <bean id="defaultPatternName" class="java.lang.String">
        <constructor-arg value="${minim.audio.input.color.pattern.name}"/>
    </bean>

    <bean id="audioInputProvider" class="com.dpingin.home.automation.audio.impl.minim.audio.input.AudioInputProviderImpl" init-method="init" destroy-method="destroy">
        <property name="audioInputBufferSize" value="#{${audio.input.buffer.size}}"/>
    </bean>

    <bean id="threeBandColorGeneratorSampleProcessor" class="com.dpingin.home.automation.audio.impl.sample.processor.SpectrumColorSampleProcessor" init-method="init">
    </bean>

    <bean id="beatDetectorSampleProcessor" class="com.dpingin.home.automation.audio.impl.sample.processor.BeatDetectorSampleProcessor">
    </bean>

    <bean id="minimAudioInputColorPattern" class="com.dpingin.home.automation.audio.impl.pattern.AudioInputColorPattern" init-method="init" destroy-method="destroy">
        <property name="name" value="${minim.audio.input.color.pattern.name}"/>
        <property name="rgbController" ref="rgbController"/>
        <property name="audioInputProvider" ref="audioInputProvider"/>
        <property name="sampleProcessor" ref="threeBandColorGeneratorSampleProcessor"/>
        <property name="sampleBuffer">
            <bean id="sampleBuffer" class="com.dpingin.home.automation.audio.impl.sample.buffer.SampleBufferImpl">
                <property name="size" value="#{${minim.audio.input.color.pattern.buffer.size}}"/>
            </bean>
        </property>
        <property name="controls">
            <bean id="controls" class="com.dpingin.home.automation.audio.impl.pattern.control.TreeMapControlsImpl">
                <constructor-arg name="collection">
                    <list>
                        <bean id="gainControl" class="com.dpingin.home.automation.audio.impl.pattern.control.FloatControl" init-method="init" destroy-method="destroy">
                            <property name="name" value="gain"/>
                            <property name="minimumValue" value="0"/>
                            <property name="maximumValue" value="1"/>
                            <property name="defaultValue" value="0.4"/>
                        </bean>
                    </list>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="beatDetectorAudioInputColorPattern" class="com.dpingin.home.automation.audio.impl.pattern.AudioInputColorPattern" init-method="init" destroy-method="destroy">
        <property name="name" value="${beat.color.pattern.name}"/>
        <property name="rgbController" ref="rgbController"/>
        <property name="audioInputProvider" ref="audioInputProvider"/>
        <property name="sampleProcessor" ref="beatDetectorSampleProcessor"/>
        <property name="sampleBuffer">
            <bean id="sampleBuffer" class="com.dpingin.home.automation.audio.impl.sample.buffer.SampleBufferImpl">
                <property name="size" value="#{${beat.color.pattern.buffer.size}}"/>
            </bean>
        </property>
    </bean>

    <bean id="staticColorPattern" class="com.dpingin.home.automation.audio.impl.pattern.StaticColorPattern" init-method="init" destroy-method="destroy">
        <property name="name" value="${static.color.pattern.name}"/>
        <property name="rgbController" ref="rgbController"/>
    </bean>

    <bean id="blackColorPattern" class="com.dpingin.home.automation.audio.impl.pattern.BlackColorPattern" init-method="init" destroy-method="destroy">
        <property name="name" value="${black.color.pattern.name}"/>
        <property name="rgbController" ref="rgbController"/>
    </bean>

    <bean id="strobeColorPattern" class="com.dpingin.home.automation.audio.impl.pattern.StrobeColorPattern" init-method="init" destroy-method="destroy">
        <property name="name" value="${strobe.color.pattern.name}"/>
        <property name="rgbController" ref="rgbController"/>
    </bean>

    <bean id="patternSwitcher" class="com.dpingin.home.automation.audio.impl.pattern.switcher.PatternSwitcherImpl">
        <property name="patterns">
            <list>
                <ref bean="minimAudioInputColorPattern"/>
                <ref bean="staticColorPattern"/>
                <ref bean="blackColorPattern"/>
                <ref bean="strobeColorPattern"/>
                <ref bean="beatDetectorAudioInputColorPattern"/>
            </list>
        </property>
    </bean>

</beans>